* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.input__name {
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid gray;
}
.search__button {
  padding: 8px 10px;
  border-radius: 10px;
  margin-left: 10px;
  border: none;
  background-color: rgb(96, 96, 236);
  color: white;
}
.button__mark {
  padding: 8px 10px;
  border-radius: 10px;
  background-color: red;
  border: none;
  color: white;
}
.hi {
  margin-left: 10px;
}

.button__mark:hover {
  background-color: rgb(136, 15, 15);
}
.search__button:hover {
  background-color: rgb(59, 59, 231);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-top: 20%; */
}
.select__button {
  padding: 8px 10px;
  border-radius: 10px;
  /* margin-left: 10px; */
  background-color: rgb(19, 182, 19);
  border: none;
  color: white;
  /* margin-bottom: 30px; */
}
.select__button:hover {
  background-color: rgb(20, 126, 20);
  color: white;
}
.loading_message {
  color: rgb(245, 43, 43);
}
.searchNam {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}
h4 {
  margin-bottom: 15px;
  margin-top: 20px;
  color: rgb(241, 91, 116);
  text-decoration: underline;
}
.update_text {
  margin-top: 0px;
}
.search__data {
  margin-top: 120px;
}

.dataHead {
  text-align: center;

  color: #20428d;
  /* text-decoration: underline; */
}
.fetching__data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.odm {
  /* background-image: url("./assets/Img/BackImg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  /* background-attachment: fixed; */
  /* min-height: 100vh; Ensures it covers the full viewport height  */
}
.belowImage {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 30px 0; */
  padding-top: 30px;
  padding-bottom: 20px;
}

.belowImage > img {
  max-width: 100%;
  height: auto;
  width: 700px;
  max-height: 700px;
  object-fit: contain;
}
.select__box {
  margin-bottom: 30px;
  margin-left: 10px;
}
.imn {
  border: 1px solid gray;
  padding: 20px 20px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.btn_Select {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center_footer {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_content > img {
  width: 130px;
}

.PoweredBy {
  font-weight: bold;
  /* position: relative; */
  text-align: center;
  top: 0px;
  font-size: 15px;
}

@media (max-width: 480px) {
  .search__button {
    margin-top: 15px;
  }
  .footer_content > img {
    width: 90px;
  }
  .search__data {
    margin-top: 100px;
  }

  /* .belowImage > img {
    width: 300px;
    max-height: 300px;
  } */
}
